<h1>Editing localisation</h1>

<%= render "form", localisation: @localisation %>

<br>

<div>
  <%= link_to "Show this localisation", @localisation %> |
  <%= link_to "Back to localisations", localisations_path %>
</div>
