<h1>Editing titre de poste</h1>

<%= render "form", titre_de_poste: @titre_de_poste %>

<br>

<div>
  <%= link_to "Show this titre de poste", @titre_de_poste %> |
  <%= link_to "Back to titre de postes", titre_de_postes_path %>
</div>
